<html>
<div class="bg-c-2">
  <img class="bg2" src="../../assets/bg2.jpg" alt="">
</div>
<main class="fg">
  <div class="" *ngIf="authService.isLoggedIn()">
    <h1 class="dfw-bold txt_d">Dodaj opinię</h1>

    <form class="mb-3" [formGroup]="opinionForm" (ngSubmit)="newOpinion()">
      <div class="input-group col-md-12  mb-1">
        <textarea class="form-control" [ngClass]="{ 'is-invalid': opinionForm.controls['text'].errors?.required && opinionForm.controls['text'].touched }"
                  id="exampleFormControlTextarea1" rows="3" placeholder="Wpisz opinię" formControlName="text"></textarea>
        <div class="invalid-feedback" *ngIf="opinionForm.controls['text'].errors?.required">
          {{getRequiredErrorMessage()}}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Wyślij</button>
    </form>

  </div>

</main>
<body>
<!--<img src="https://cdn.galleries.smcloud.net/t/galleries/gf-NiY6-dYca-E9ai_zdjecie-65633-664x442-nocrop.JPG"-->
<!--     alt="Flowers" width="460" height="345">-->

<!--<div class="comment" *ngFor="let opinion of opinions;">-->
<!--  <span>{{opinion.authorUserName}} pisze:</span>-->
<!--  <hr>-->
<!--  <p>{{opinion.text}}</p>-->
<!--</div>-->
<div *ngIf="opinions.length > 0">
  <div class="comments" *ngFor="let opinion of opinions;">
    <div class="comment">
      <span>{{opinion.authorUserName}} pisze:</span>
      <hr>
      <p>{{opinion.text}}</p>
    </div>
  </div>
</div>

<div *ngIf="!authService.isLoggedIn()">
  <p>Musisz być zalogowany, aby móc wysłać opinie. <a routerLink="/login">Zaloguj się</a>.</p>
</div>


<form class="mt-0 pt-0" *ngIf="authService.isLoggedIn()" [formGroup]="opinionForm" (ngSubmit)="addOpinion()">
  <div class="input-group col-md-12  mb-1">
    <textarea class="form-control" [ngClass]="{ 'is-invalid': opinionForm.controls['text'].errors?.required && opinionForm.controls['text'].touched }"
              id="exampleFormControlTextarea1" rows="3" placeholder="Wpisz opinię" formControlName="text"></textarea>
    <div class="invalid-feedback" *ngIf="opinionForm.controls['text'].errors?.required">
      {{getRequiredErrorMessage()}}
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-2">Dodaj opinię</button>
</form>


<div class="offer">

</div>

<style>
  h1 {
    color: black
  }

  h2 {
    color: red;
  }

  p {
    color: gray;
    font-size: 18px;
  }

</style>

<!--<footer class="text-muted py-5">-->

<!--  <div class="container">-->
<!--    <p class="float-end mb-1">-->
<!--      <a href="#">Back to top</a>-->
<!--    </p>-->
<!--    <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>-->
<!--    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.2/getting-started/introduction/">getting started guide</a>.</p>-->

<!--  </div>-->
<!--</footer>-->


<footer class="pt-5 my-5 text-muted border-top">
  Created by K team · © 2022
</footer>
</body>
</html>

