<div class="bg-c-2">
  <img class="bg2" src="../../assets/bg2.jpg" alt="">
</div>
<div class="h-100 p-5 text-white rounded-3">

  <style>
    body {background-color: powderblue;}

  </style>
  <div class="about-us">
    <h2>O nas</h2>

    <p>Witamy na oficjalnej stronie firmy Skup Owoców VegaFruit </p>

    <p>Jesteśmy firmą która od wielu lat z powodzeniem sprzedaje owoce</p>

    <p>Zajmujemy się skupem i sprzedażą hurtowych ilości wszystkich rodzajów owoców. Szeroki asortyment surowców oraz wieloletnie doświadczenie poparte systematycznie podnoszonymi kwalifikacjami w zakresie potrzeb naszych kontrahentów sprawiają, że Skup owoców - VegaFruit, cieszy się z roku na rok coraz to szerszym uznaniem wśród wszystkich swoich klientów nie tylko w kraju.</p>

    <p>Gwarantujemy owoce wysokiej jakości, trwałości oraz doskonałym smaku o czym przekonali się wszyscy nasi dotychczasowi klienci.</p>

    <p>Zachęcamy bardzo serdecznie do współpracy oraz do zapoznania się z naszą ofertą!</p>
  </div>
</div>

<ng-image-slider height="1000px" [images]="imageObject" #nav [manageImageRatio]="true" [imageSize]="{width: '1200px', height: '1000px', space: 4}"></ng-image-slider>

<footer class="pt-5 my-5 text-muted border-top">
  Created by K team · © 2022
</footer>
