<div class="bg-c-2">
  <img class="bg2" src="../../assets/bg2.jpg" alt="">
</div>
<div class="h-100 p-5 text-white rounded-3">

  <style>
    body {background-color: powderblue;}

  </style>
  <div class="about-us">
    <h2>O nas</h2>

    <p>Witamy na oficjalnej stronie firmy Skup Owoców VegaFruit! </p>

    <p>Jesteśmy firmą która sprzedaje ekologiczne owoce, zajmujemy się zbieraniem, sortowaniem i sprzedażą świeżych, zdrowych i smacznych owoców pochodzących z ekologicznych upraw.</p>

    <p>Firma ta dba o jakość swoich produktów, co potwierdzają certyfikaty na ich ekologiczne pochodzenie. Oznacza to, że owoce te zostały uprawiane bez użycia szkodliwych dla środowiska chemikaliów, pestycydów i nawozów sztucznych. Dzięki temu, produkty są wolne od szkodliwych substancji chemicznych i są zdrowe dla ludzi, a także lepiej wpływają na środowisko naturalne.</p>
    <p>Skup owoców oferuje szeroki wybór owoców, w tym jabłka, śliwki, truskawki, czarną porzeczkę i wiele innych. </p>

    <p>Firma ta jest znana z wysokiej jakości produktów, profesjonalnego podejścia do klientów i dbałości o środowisko naturalne. Jeśli jesteś zainteresowany zdrową żywnością, nasz skup owoców oferujący ekologiczne owoce będzie  dla Ciebie idealnym wyborem.</p>
  <p>Certyfikaty potwierdzające ekologiczność:</p>
  </div>
</div>

<ng-image-slider height="1000px" [images]="imageObject" #nav [manageImageRatio]="true" [imageSize]="{width: '1200px', height: '1000px', space: 4}"></ng-image-slider>

<footer class="pt-5 my-5 text-muted border-top">
  Created by K team · © 2022
</footer>
