
<body class="text-center" data-new-gr-c-s-check-loaded="14.1052.0" data-gr-ext-installed="">

  <main class="form-signin form">
    <form>
      <h1 class="h3 mb-3 fw-normal">Zaloguj się</h1>

      <div class="form-floating">
        <label for="">Adres Email</label>
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Hasło">
        <label for="floatingPassword">Hasło</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Zapamiętaj mnie
        </label>
      </div>
      <button class="w-80 btn btn-lg btn-primary" type="submit">Zaloguj</button>
     <footer class="pt-4 my-3">
       <p>Nie masz jeszcze konta?</p>

       <div class="w-80 btn btn-lg btn-primary">
         <a routerLink="/register" routerLinkActive="active" class="w-80 btn btn-lg btn-primary">Zarejestruj się!</a>

  </div>

     </footer>


      <footer class="pt-5 my-5 text-muted border-top">
        Created by K team · © 2022
      </footer>
    </form>
  </main>

