
  <main class="form-signin form">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1 class="h3 mb-3 fw-normal">Zaloguj się</h1>

      <div class="form-floating">
        <label for="floatingInput">Adres Email</label>
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Hasło" formControlName="password">
        <label for="floatingPassword">Hasło</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Zapamiętaj mnie
        </label>
      </div>
      <button class="w-80 btn btn-lg btn-primary" type="submit">Zaloguj</button>
     <footer class="pt-4 my-3">
       <p>Nie masz jeszcze konta?</p>

       <div class="w-80 btn btn-lg btn-primary">
         <a routerLink="/register" routerLinkActive="active" class="w-80 btn btn-lg btn-primary">Zarejestruj się!</a>

  </div>

     </footer>

    </form>
  </main>

