<div class="bg-c-2">
  <img class="bg2" src="../../assets/bg2.jpg" alt="">
</div>
<div class="left">
  <div class="contact h-100 p-5 text-white rounded-3">
    <h2>Kontakt</h2>

    <p>Skup Owoców VegaFruit</p>

    <p>E-mail: skupowocow@wp.pl</p>

    <p>Telefon: 555 666 777</p>

    <p class="lead mb-0"><a href="offer" class="text-white fw-bold">Oferta</a></p>


  </div>
</div>
<div class="right">
  <img class="img" src="../../assets/mapka1.PNG" alt="">
</div>
<footer class="pt-5 my-5 text-muted border-top">
  Created by Kycia team · © 2022
</footer>
