<div class="navbar navbar-expand-md navbar-dark fixed-top
 nav_">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><img class="img" src="../../assets/logo-vegafruit.png" alt=""/></a>
    <ul class="navbar-nav nv_x mr-auto" href="#">
      <li class="nav-item nv1">
        <a class="nav-link kf" routerLink="/offer" routerLinkActive="active">Oferta</a>
      </li>
      <li class="nav-item nv2 kf">
        <a class="nav-link" routerLink="/about-us" routerLinkActive="active">O nas</a>
      </li>
      <li class="nav-item nv3 kf">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Kontakt</a>
      </li>
      <li class="nav-item nv4 kf">
        <a class="nav-link" routerLink="/opinie" routerLinkActive="active">Opinie</a>
      </li>
      <li class="nav-item nv5 kf">
        <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!authService.isLoggedIn()" >Zaloguj sie</a>
        <a class="nav-link" routerLink="" *ngIf="authService.isLoggedIn()" (click)="authService.logout()">{{authService.getUser().userName}}</a>
      </li>
    </ul>
<!--    <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="loggedIn">-->

<!--        <li class="nav-item">-->
<!--          <a class="nav-link"(click)="logout()" )href="#">Logout</a>-->
<!--        </li>-->
<!--      </ul>-->



      </div>
</div>

<!--      <form  class="d-flex" (ngSubmit)="login()" autocomplete="off">-->

<!--                <input-->
<!--                  name="uzytkownik"-->
<!--                  [(ngModel)]="model.uzytkownik"-->
<!--                  class="form-control mr-sm-2"-->
<!--                  type="text"-->
<!--                  placeholder="e-mail">-->
<!--                <input-->
<!--                  name="haslo"-->
<!--                  [(ngModel)]="model.haslo"-->
<!--                  class="form-control mr-sm-2"-->
<!--                  type="password"-->
<!--                  placeholder="hasło" >-->
<!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zaloguj</button>-->


<!--    <form class="d-flex" role="search">-->
<!--      <input class="form-control me-2" type="search" placeholder="Szukaj" aria-label="Szukaj">-->
<!--      <button class="btn btn-outline-success" type="submit">Szukaj</button>-->
<!--    </form>-->


<!--y-->
