<html>
<div class="bg-c-2">
  <img class="bg2" src="../../assets/bg2.jpg" alt="">
</div>
<main class="fg">
    <div class="">
      <h1 class="dfw-bold txt_d">Jak wygląda proces dojrzewania owoców?</h1>
<!--      <h1 class="display-4 fst-italic"></h1>-->
      <p class="">Tak naprawdę dojrzewanie zaczyna się od zapylonych kwiatów tworzących owoce, a kończy się zepsuciem. W kilka dni po zapyleniu owoc tworzy wszystkie komórki, które w przyszłości będzie posiadał. Z czasem komórki się powiększą i roślina zwiększy swoje rozmiary, ale nie zwiększy ilości komórek.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold"></a></p>
    </div>
</main>
<body>
<!--<img src="https://cdn.galleries.smcloud.net/t/galleries/gf-NiY6-dYca-E9ai_zdjecie-65633-664x442-nocrop.JPG"-->
<!--     alt="Flowers" width="460" height="345">-->




<div class="offer">
  <h2>Oferta</h2>
    <p>W naszej ofercie skupu oraz sprzedaży znajdą Państwo takie owoce jak:</p>
    <p>· Jabłka</p>
    <p>· Czarna porzeczka</p>
    <p>· Wiśnie</p>
    <p>· Truskawki</p>
    <p>· Borówka Amerykańska</p>
    <p>· Śliwki</p>
    <p>Owoce pakowane są w opakowania kartonowe lub drewniane skrzyneczki.</p>
</div>

<style>
  h1 {color: black}
  h2 {color: red;}
  p {color: gray; font-size: 18px;}

</style>

<!--<footer class="text-muted py-5">-->

<!--  <div class="container">-->
<!--    <p class="float-end mb-1">-->
<!--      <a href="#">Back to top</a>-->
<!--    </p>-->
<!--    <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>-->
<!--    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.2/getting-started/introduction/">getting started guide</a>.</p>-->

<!--  </div>-->
<!--</footer>-->




<div class = "row align-items-md-stretch">
  <div class="col-md-4 mr">
    <img src="https://i.iplsc.com/jablka-maja-wiele-wartosci-odzywczych-warto-je-jesc/000DAD454A1CNAHI-C122-F4.jpg"
         alt="Flowers" width="360" height="245"  >
  </div>

<div class = "col-md-4">
<img src="https://adst.mp.pl/img/articles/zasady/sezon-na-truskawki.jpg"
     alt="Flowers" width="360" height="245"  >
</div>
  <div class = "col-md-4">
<img src="https://zielonyogrodek.pl/i/images/3/7/4/d2FjPTkwMHgxLjQwMA==_src_89374-owoce-borwki-amerykaskiej-fot.-ChiemSeherin---Pixabay.jpg"
     alt="Flowers" width="360" height="245"  >
</div>
</div>


<footer class="pt-5 my-5 text-muted border-top">
  Created by Kycia team · © 2022
</footer>
</body>
</html>

