<html>
<div class="bg-c-2">
  <img class="bg2" src="../../assets/bg2.jpg" alt="">
</div>
<main class="fg">
  <div class="">
    <h1 class="dfw-bold txt_d">Jak wygląda proces dojrzewania owoców?</h1>
    <!--      <h1 class="display-4 fst-italic"></h1>-->
    <p class="">Tak naprawdę dojrzewanie zaczyna się od zapylonych kwiatów tworzących owoce, a kończy się zepsuciem. W
      kilka dni po zapyleniu owoc tworzy wszystkie komórki, które w przyszłości będzie posiadał. Z czasem komórki się
      powiększą i roślina zwiększy swoje rozmiary, ale nie zwiększy ilości komórek.</p>
    <p class="lead mb-0"><a href="#" class="text-white fw-bold"></a></p>
  </div>
</main>
<body>
<!--<img src="https://cdn.galleries.smcloud.net/t/galleries/gf-NiY6-dYca-E9ai_zdjecie-65633-664x442-nocrop.JPG"-->
<!--     alt="Flowers" width="460" height="345">-->


<div class="offer">
  <h2>Oferta</h2>
  <p>W naszej ofercie skupu oraz sprzedaży znajdą Państwo takie owoce jak:</p>

  <div class="offers mb-3">

    <div class="col-md-12 mr">

      <h4 class="offer-header">Szare renety</h4>
      <hr>

      <div class="offer-body">
        <img src="https://i.iplsc.com/jablka-maja-wiele-wartosci-odzywczych-warto-je-jesc/000DAD454A1CNAHI-C122-F4.jpg"
             alt="Apples" width="360" height="245">
        <span class="offer-content">
Szare renety to odmiana jabłek o charakterystycznej szarej skórce, która może być pokryta plamami i rdzawymi paskami. Owoce tej odmiany są stosunkowo duże i mają okrągły kształt. Ich miąższ jest soczysty i chrupiący, o złożonym smaku, w którym wyczuwalne są nuty słodkie i kwaskowe.Szare renety są często stosowane do produkcji soków, musów, kompotów i dżemów, ze względu na ich wyjątkowy smak i aromat. Są one również doskonałym składnikiem w ciepłych daniach, takich jak pieczone jabłka, zapiekanki czy naleśniki z jabłkami.        </span>
      </div>

    </div>


    <div class="col-md-12 mr">

      <h4 class="offer-header">Truskawki</h4>
      <hr>

      <div class="offer-body">
        <img src="https://adst.mp.pl/img/articles/zasady/sezon-na-truskawki.jpg"
             alt="Strawberry" width="360" height="245">
        <span class="offer-content">
Truskawki odmiany Honeoye to popularna odmiana truskawek, znana ze swojego wyjątkowego smaku i aromatu. Zazwyczaj dojrzewają w połowie czerwca, mają one średniej wielkości, okrągły kształt i czerwoną skórkę, która pokrywa soczysty, miękki miąższ. Truskawki Honeoye są charakteryzowane przez swoją słodycz oraz delikatny, lekko kwaskowaty smak, który idealnie pasuje do wielu potraw i napojów. Są one bogate w witaminy i minerały, w tym witaminę C i mangan, co czyni je zdrowym wyborem dla każdego. Jeśli jeszcze nie miałeś okazji spróbować truskawek odmiany Honeoye, to polecamy je spróbować! Ich unikalny smak i aromat na pewno Cię zachwycą!</span>
      </div>

    </div>

    <div class="col-md-12 mr">

      <h4 class="offer-header">Czarna porzeczka</h4>
      <hr>

      <div class="offer-body">
        <img src="https://cdn.galleries.smcloud.net/t/galleries/gf-S5mB-TSBC-1xCA_czarne-porzeczki-wlasciwosci-zdrowotne-w-jakich-dolegliwosciach-pomagaja-czarne-porzeczki-664x442-nocrop.jpg"
             alt="Blackcurrant" width="360" height="245">
        <span class="offer-content">
Czarna porzeczka jest bardzo aromatyczna i słodka, ale jednocześnie ma lekko kwaśny smak. Jest bogata w witaminy i minerały, w szczególności witaminę C, która stanowi około 3-4 razy więcej niż w pomarańczach. Jest również dobrym źródłem błonnika i przeciwutleniaczy. W skrócie, czarna porzeczka to smaczny i zdrowy owoc, który można wykorzystać na wiele sposobów np. do soków bądź drzemów.
        </span>
      </div>

    </div>

    <div class="col-md-12 mr">

      <h4 class="offer-header">Łutówka</h4>
      <hr>

      <div class="offer-body">
        <img src="https://wszystkoojedzeniu.pl/site/assets/files/1154/wisnie.650x0.jpg"
             alt="Cherry" width="360" height="245">
        <span class="offer-content">
Wiśnie Łutówka to popularna odmiana wiśni, charakteryzująca się intensywnym, słodkim smakiem i bogatym, czerwonym kolorem skórki. Są one stosunkowo duże, o okrągłym kształcie i soczystym miąższu. Owoce dojrzewają zazwyczaj w drugiej połowie czerwca. Wiśnie Łutówka są bardzo popularne ze względu na swój wyjątkowy smak i aromat. Są one doskonałym źródłem witamin i minerałów, w szczególności witaminy C, która jest ważna dla wzmocnienia układu odpornościowego.
        </span>
      </div>

    </div>

    <div class="col-md-12 mr">

      <h4 class="offer-header">Borówka Amerykańska</h4>
      <hr>

      <div class="offer-body">
        <img src="https://www.flower-garden.pl/image/cache/catalog/rosliny/borowka/liberty/a-750x563.jpg"
             alt="Blueberry" width="360" height="245">
        <span class="offer-content">
Borówki amerykańskie są popularne na całym świecie ze względu na swój niepowtarzalny smak i wiele zastosowań kulinaranych, dojrzewaja w połowie lipca i zbiory trwaja aż do konca sierpnia. Są bogate w wiele wartości odżywczych, zawierają one witaminy A, C, K oraz E, a także składniki mineralne, takie jak miedź, żelazo i mangan. Są one również doskonałym źródłem antyoksydantów, które mogą pomóc w zapobieganiu chorobom serca, cukrzycy i niektórym chorobom nowotworowym. Mogą być jedzone na surowo jako zdrowa przekąska, dodawane do sałatek owocowych, wypieków, deserów i koktajli. Borówki amerykańskie są również często stosowane do produkcji soków, dżemów, musów i innych przetworów.        </span>
      </div>

    </div>

    <div class="col-md-12 mr">

      <h4 class="offer-header">Śliwki Cacanska Lepotica </h4>
      <hr>

      <div class="offer-body">
        <img src="https://akademiasmaku.pl/upload/vademecums/507/big/zjedz-sliwke-jakie-cenne-wlasciwosci-maja-sliwki-507.jpg"
             alt="Plum" width="360" height="245">
        <span class="offer-content">
          Śliwki Cacanska Lepotica to odmiana śliwek pochodząca z Serbii. Owoce tej odmiany są średniej wielkości, okrągłe lub owalne i mają ciemnofioletową skórkę pokrytą lekkim nalotem. Ich miąższ jest soczysty, słodki i aromatyczny, o jasnożółtej barwie.Cacanska Lepotica jest odmianą samopylną, która zazwyczaj owocuje pod koniec sierpnia lub na początku września. Owoce śliwek Cacanska Lepotica są bardzo cenione ze względu na ich doskonały smak i wartości odżywcze. Zawierają one wiele witamin i minerałów, takich jak witamina C, potas, magnez, żelazo i błonnik. Są one również bogate w przeciwutleniacze, które pomagają w ochronie organizmu przed chorobami i starzeniem się.
        </span>
      </div>

    </div>


  </div>

  <p>Owoce pakowane są w opakowania kartonowe lub drewniane skrzyneczki.</p>


</div>

<style>
  h1 {
    color: black
  }

  h2 {
    color: red;
  }

  p {
    color: gray;
    font-size: 18px;
  }

</style>


<footer class="pt-5 my-5 text-muted border-top">
  Created by K team · © 2022
</footer>
</body>
</html>

