<div class="bg-c">
  <img class="bg" src="../../assets/bg.jpg" alt="">
</div>
<div style="margin-top: 665px;" class="row py-lg-3">
  <div class="container_fruits">
    <div class="left">
      <div style='text-align: left;'>
        <h1 class="fw-light">Skup owoców VegaFruit </h1>
        <style>
          body {background-color: powderblue;}
          h1 {color: red;}
        </style>
      <p class="lead text-muted" Align="">U nas zawsze aktualne ceny!</p>
        <p style="text-align: justify;" class="lead text-muted" >Od 10 lat zajmujemy się skupem i sprzedażą hurtowych ilości rożnych rodzajów owoców. Szeroki asortyment surowców oraz wieloletnie doświadczenie poparte systematycznie podnoszonymi kwalifikacjami w zakresie potrzeb naszych kontrahentów.</p>
        <img src="https://www.leroymerlin.pl/files/fs-upload/fckeditor/image/iStock-186117550.jpg" alt="Girl in a jacket" style="width:400px;height:300px;">
        <div class="checkbox mb-3">
      </div>
      </div>
    </div>

    <div class="right">
      <div>
        <div class="" style="right: auto">
          <div class="right-c h-100 p-5 bg-light border rounded-3">
            <h2 style="color:aquamarine;">Cennik na dzień 30.11.2022</h2>
            <p>Truskawka 3zł/kg</p>
            <p>Jabłka 6zł/kg</p>
            <p>Czarna porzeczka 2zł/kg</p>
            <p>Wiśnie 12zł/kg</p>
            <p>Borówka amerykańska 13zł/kg</p>
            <p>Śliwki 7zł/kg</p>
          </div>
        </div>
    </div>
    </div>
<!--     <div class="text-center">-->

<!--       <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2" aling="right">Rejestracja</button>-->
<!--     </div>-->


</div>
</div>
<div>


  <footer class="pt-5 my-5 text-muted border-top">
    Created by Kycia team · © 2022
  </footer>

</div>

<!--  <div class="col-md-10 mx-auto col-lg-5" >-->
<!--    <form class="p-4 p-md-5 border rounded-3 bg-light">-->
<!--      <div class="form-floating mb-3">-->


<!--      </div>-->
<!--      <div class="form-floating mb-3">-->

<!--        <hr class="my-4">-->
<!--        <small class="text-muted"></small>-->
<!--      </div>-->




