<form #registerForm='ngForm' (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Zarejestruj się</h2>
    <hr>
    <div class="form-group">
      <input type="text" class="form-control" name="uzytkownik"
             [(ngModel)]="model.uzytkownik" placeholder="Użytkownik">

    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="haslo"
             [(ngModel)]="model.uzytkownik" placeholder="Hasło">
    </div>
    <div class="form-group text-center">
      <button class="btn btn-success mr-2" type="submit">Zarejestruj się!</button>
  <!--    <button class="btn btn-success mr-2" (click)="cancel()" type="button">Cancel</button>-->
    </div>
    <footer class="pt-5 my-5 text-muted border-top">
      Created by Kycia team · © 2022
    </footer>

  </form>
